/*-------------------------------------------------------------------------
= general reset
--------------------------------------------------------------------------*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}

a { outline: none; }
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	font-family: Verdana, Geneva, sans-serif;
	font-size: 14px;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}


/*-------------------------------------------------------------------------
= form setup
--------------------------------------------------------------------------*/
/*-------------------------------------------------------------------------
= site wide
--------------------------------------------------------------------------*/
body{
	background: #fff;
	font-family:Verdana, sans-serif;
	position:relative;
	text-align:center;
}
h1,h2,h3,h4{
  font-family:verdana,san-serif;
  font-weight:normal;
  color:rgb(237, 24, 70);
}
h2{}
h3{}
h4{}
.clearfix:after {
    clear: both;
    content: ".";
    display: block;
    height: 0;
    visibility: hidden;
	zoom: 1;
}

a{color:#000;}
#content {
	background: #fff;
	line-height: 130%;
	margin: 20px;
	padding: 20px;
	text-align: left;
	border: solid 1px #333;
	-moz-box-shadow: 0px 0px 5px #333;
	-webkit-box-shadow: 0px 0px 5px #333;
	box-shadow: 0px 0px 5px #333;
}

#content:after {
    clear: both;
	content: ".";
	display: block;
	height: 0;
	visibility: hidden;
	zoom: 1;
}

/*-------------------------------------------------------------------------
= header
--------------------------------------------------------------------------*/
header {
	background: #fff;
	border-bottom: #333 solid 1px;
	position: relative;
	text-align: left;
}
header:after {
    clear: both;
    content: ".";
    display: block;
    height: 0;
    visibility: hidden;
	zoom: 1;
}
header {
	position: relative;
}
header img.logo {
	width: 225px;
	height: 115px;
	float: left;
	margin: 5px 25px 5px 5px;
}
header #head-logo {
	color:rgb(237, 24, 70);
	float: left;
	padding: 5px 0 5px 10px;
	text-decoration: none;
}
header h1 {
	color: rgb(237, 24, 70);
	font-size: 60px;
	line-height: 70px;
	padding: 5px;
	font-weight: bold;
	text-decoration: none;
}

header #head-welcome {
	float: right;
	padding: 15px 10px 5px 0;
}
header #head-welcome p{
	color:rgb(237, 24, 70);
	text-align: right;
	text-decoration: none;
}
header #head-welcome p a{
	color: rgb(237, 24, 70);
}
nav {
	background: rgb(237, 24, 70);
	clear: both;
}
nav ul:after {
    clear: both;
    content: ".";
    display: block;
    height: 0;
    visibility: hidden;
	zoom: 1;
}
nav ul li {
	float: left;
}
nav ul li:after {
    clear: both;
    content: ".";
    display: block;
    height: 0;
    visibility: hidden;
	zoom: 1;
}
nav ul li a {
	display: block;
	float: left;
	padding: 10px;
	color: #fff;
}

nav ul li a:hover {
	background: #fff;
	color:rgb(237, 24, 70);
}

/*-------------------------------------------------------------------------
= footer
--------------------------------------------------------------------------*/
footer nav {display:none;} /*hide footer nav in desktop view*/


/*-------------------------------------------------------------------------
= forms

--------------------------------------------------------------------------*/
#content h1 {
	font-size: 50px;
	line-height: 70px;
	font-weight: bold;
	border-bottom: solid 4px rgb(237, 24, 70);
	margin-bottom: 20px;
}
#content h2 {
	font-size: 40px;
	line-height: 50px;
	margin-bottom: 10px;
	color: #000;
	font-weight: bold;
}
#content h3 {
	font-size: 25px;
	line-height: 35px;
}
#content h3 a {
	color: rgb(237, 24, 70);
	font-weight: bold;
}
#content h4 {
	font-size: 20px;
	line-height: 30px;
	font-weight: bold;
	color: #000;
}
#content p {
	padding: 0 0 20px 0;
}
#content p.ent-published, #content p.ent-author, #content p.ent-tags, #content p.ent-categories {
	padding: 0 0 0px 0;
}
#content label {
	display:block;
}
#content input[type="text"],
#content input[type="password"],
#content textarea  {
	display:block;
	width: 300px;
}
#content input[type="radio"],
#content input[type="checkbox"]{
	float:left;
	text-align: left;
	vertical-align:baseline;
}

#content input[type="submit"]{
	background-color: rgb(237, 24, 70);
	color: #ffffff;
	font-size: 21px;
	padding: 5px 20px;
}


#content input[type="submit"]:hover{
	background-color: #eee;
	color: rgb(237, 24, 70);
}

li.entry:first-child {
	border-top: none;
}
li.entry
{
	padding: 20px 0 30px 0;
	border-top: solid 2px #000;
}
.rendered-content {
	padding: 20px 0px 0px 0px;
}
.rendered-content ol {
	list-style: decimal;
	margin-left: 4em;
}

.rendered-content ul {
	list-style: disc;
	margin-left: 4em;
}

.rendered-content em {
	font-style: italic;
}

.rendered-content strong {
	font-weight: bold;
}

#team-list {
	padding-bottom: 30px;
}

#team-list li:first-child
{
	border-top: none;
	margin-top: 0px;
	padding-top: 0px;
}
#team-list li
{
	padding-left: 2%;
	padding-top: 10px;
	margin-top: 10px;
	position: relative;
	border-top: solid 1px #000;
}
#team-list li span
{
	float: right;
}
#team-list li a
{
	font-size: 18px;
	font-weight: bold;
	color: rgb(237, 24, 70);
}

#content #team-main {
    float: left;
    width: 70%;
}

#content #team-main img#team-logo {
    margin:0 auto;
    max-width:700px;
    width: 100%;
}
#content #team-side {
    border: solid 1px #dddddd;
    float: right;
    padding: 1%;
    width: 20%;
}
#content .team-side-sec {
    border-top: solid 1px #dddddd;
    margin-top: 10px;
    padding-top: 10px;
}

#content .team-side-sec:first-child {
    border-top: none;
    margin-top: 0px;
    padding-top: 0px;
}
#content .team-side-sec h3{
    font-size: 18px;
    line-height: 21px;
	font-weight: bold;
}
#content .team-side-sec p{
    padding: 0 0 0 0;
}
#content .team-side-sec p.asterix{
    font-size: 10px;
    padding-top:20px;
    text-align: right;
}
#content .team-side-sec ul{}
#content .team-side-sec li{
    padding: 0 0 1% 0;

}
#content .team-side-sec li.captain{
    font-weight:bold;
}

